header {
 background-image: url("../img/accueil.jpg");
 background-position: center;
 background-size:cover;
 height: 90vh;
 z-index: -1000;
}
nav {
    height: 90vh;
    background-color: rgba(255, 255, 255, .4);
}
.navigation {
    display: flex;
    justify-content: center;
    align-content: flex-end;
    height: 15vh;
    background-color: #38a3a5;
}
.nav-link {
   color: #c7f9cc; 
   font-size: 1.5rem;
   font-weight: 600;
}
.display-2 {
    position: relative;
    top: 10rem;
    color: #c7f9cc;
    font-weight: 600;
}
img{
    width: 300px;
    height: 300px;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}

.imgpara{
    display: flex;
    justify-content: space-between;

}
.image-gal {
    margin: 100px;
}
.footerbox {
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
.footer-lien {
    padding: 10px;
}
footer {
    background-color: #38a3a5;
}
.icons, footerbox {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}
.fab {
    padding: 14px 24px;
    font-size: 2rem;
    color: white;
}
.footer-lien a {
    color: #c7f9cc;
    font-weight: 600;
}
.fab:hover {
    color: #caf9c0;
}